<div class="header">
    <h1>KomuniUI</h1>
    <input class="searchInput" type="text" placeholder="Pesquisar...">
    <div class="header-icons">
        <button class="newPost">Nova postagem</button>
        <button class="icon "></button>
        <button class="icon "></button>
    </div>
</div>