<div class="sidebar">
    <div class="profile">
        <div class="profile-pic"></div>
        <p id="greeting">Olá, [Usuário]!</p>
    </div>
    <nav>
        <a href="/index">
            <button>Início</button>
        </a>
        <a href="/newpost">
            <button>Nova postagem</button>
        </a>
    </nav>
    <div class="bottom-buttons">
        <button>Configurações</button>
    </div>
</div>

<script src="scripts/sideBar.js"></script>