<div class="sidebar">
    <div class="profile">
        <div class="profile-pic"></div>
        <p id="greeting">Olá, [Usuário]!</p>
    </div>
    <nav>
        <button>Início</button>
        <button>Pedidos</button>
        <button>Avisos</button>
        <button>Eventos</button>
    </nav>
    <div class="bottom-buttons">
        <button>Nova postagem</button>
        <button>Configurações</button>
    </div>
</div>

<script src="scripts/sideBar.js"></script>