<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>

    <link rel="stylesheet" href="css/homeStyles.css">
    <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body>
    <div class="main-content">

        <div class="mainContainer">
            <div class="new-post-box">
                <p>O que você está pensando?</p>
                <a href="/newpost"><button>Nova postagem</button></a>
            </div>

            <div id="postsContainer"></div>
        </div>
    </div>

    <script src="/scripts/feed.js"></script>
</body>

</html>