<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>

    <link rel="stylesheet" href="css/globalStyles.css">
    <link rel="stylesheet" href="css/homeStyles.css">
</head>

<body>
    <main class="main-content">
        <section class="container">
            <div class="new-post-box">
                <p>O que você está pensando?</p>
                <a href="/newpost" class="button">Nova postagem</a>
            </div>

            <div id="postsContainer" class="posts-container"></div>
        </section>
    </main>

    <script src="/scripts/feed.js"></script>
</body>

</html>