<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KomuniUI</title>
    <link rel="stylesheet" href="css/partials/sideBarStyles.css">
    <link rel="stylesheet" href="css/partials/navBarStyles.css">
    <link rel="stylesheet" href="css/globalStyles.css">
    <link rel="stylesheet" href="css/homeStyles.css">
</head>

<body>
    <%- include('partials/sideBar') %>

        <div class="postSideBar">
            <div class="main-content">
                <%- include('partials/navBar') %>
                    <%- include('home') %>
            </div>
        </div>
        <script src="/scripts/feed.js"></script>
</body>

</html>