<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Postagem</title>

    <link rel="stylesheet" href="css/partials/sideBarStyles.css">
    <link rel="stylesheet" href="css/partials/navBarStyles.css">

    <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body>
    <%- include('partials/sideBar') %>
        <div class="main-content">
            <%- include('partials/navBar') %>
                <%- include('newpost') %>
        </div>
</body>

</html>