<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Post</title>

    <link rel="stylesheet" href="/css/partials/sideBarStyles.css">
    <link rel="stylesheet" href="/css/partials/navBarStyles.css">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <link rel="stylesheet" href="/css/postDetailsStyles.css">
</head>

<body>
    <%- include('partials/sideBar') %>

        <div class="main-content">
            <%- include('partials/navBar') %>

                <div class="post-details-container">
                    <div id="postDetail"></div>

                    <div id="commentsContainer"></div>

                    <div class="add-comment">
                        <textarea id="commentInput" placeholder="Adicione um comentário..."></textarea>
                        <button onclick="sendComment()">Enviar</button>
                    </div>
                </div>
        </div>

        <script>
            const postId = "<%= postId %>";
        </script>
        <script src="/scripts/postDetails.js"></script>
</body>

</html>