<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Usuário</title>
    <link rel="stylesheet" href="/css/loginupStyles.css">
</head>

<body>
    <div class="container">
        <h2>Bem-vindo</h2>

        <form id="signupForm">
            <label for="name">Nome completo:</label>
            <input type="text" id="name" name="name" placeholder="Nome Sobrenome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="email@dominio.com" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="********" required>

            <button type="submit">Criar conta</button>
        </form>

        <p><a href="/login">Já tem conta? Entrar</a></p>
    </div>
</body>

</html>

<script>
    if (localStorage.getItem('token')) {
        window.location.href = '/index';
    }

    document.getElementById('signupForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        if (!name || !email || !password) {
            alert('Por favor, preencha todos os campos.');
            return;
        }

        const response = await fetch('/users', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ name, email, password })
        });


        if (response.ok) {
            return;
        }

        const loginresponse = await fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password })
        });

        const data = await loginresponse.json();

        if (loginresponse.ok && data.token) {
            localStorage.setItem('token', data.token);
            localStorage.setItem('email', JSON.stringify(data.email));
            localStorage.setItem('userId', JSON.stringify(data.userId));
            alert('Conta criada com sucesso!');
            window.location.href = '/index';
        } else {
            alert(data.error?.message || 'Erro ao criar conta');
        }
    });
</script>