:root {
    --mapColor: #a6d9f7;
    --secondaryButtonColor: #ddd;
    --buttonBorderRadius: 8px;
    --buttonHoverColor: #555;

    --gradientColor1: #a12edb;
    --gradientColor2: #f58a29;
}

body, html {
    margin: 0;
    padding: 0;
}

.main-content {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background: linear-gradient(135deg, var(--gradientColor1), var(--gradientColor2));
    min-height: 100vh;
    background-repeat: no-repeat;
}

button {
    border: none;
    cursor: pointer;
    border-radius: var(--buttonBorderRadius);
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}